header {
  background-color: #9968b670;
  padding: 16px 0;
  
  align-content: center;
  
}

header h1 {
  color: black;
  font-size: 35px;
  display: inline-block;
  position: relative;
  margin-top: 15px;

  margin-left: 15px;
}

header img {
  width: 120px;
}
