.columnas {
  display: flex;
}

col_1 {
  margin-left: 10px;
  /* width: 48%; */
}

.turnos {
  /* width: 48%; */
  display: flex;
}

.turnos figure {
  margin: 0;
  position: relative;
}

.turnos .turnos_presenciales img {
  width: 250px;
  margin: 18px 5px;
  border-radius: 5px;
}

.turnos .turnos_otros img {
  width: 250px;
  margin: 18px 5px;
  border-radius: 5px;
}


