.contacto {
  display: flex;
  gap: 24px;
  margin-left: 15px;
}

.contacto div {
  width: 100%;
}

.datos p {
  font-size: 14px;
}

.formulario p {
  display: flex;
}

.formulario p label {
  min-width: 130px;
  display: flex;
  align-items: center;
}

.formulario p:nth-child(4) {
  align-items: start;
}

.formulario textarea {
  resize: none;
  height: 150px;
}

.formulario p input,
.formulario p textarea {
  background: #ddd;
  border-radius: 5px;
  border: 1px solid #999;
  font-size: 14px;
  padding: 6px 10px;
  width: 80%;
}

.formulario input[type="submit"] {
  background: #9968b6;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 16px;
  padding: 6px 20px;
  width: auto;
  position: relative;
  left: 14.5rem;
  cursor: pointer;
}

.formulario input[type="submit"]:hover {
  background-color: #9968b6;
}

.datos i {
  color: #9968b6;
  font-size: 25px;
  padding: 0 10px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
